# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron


# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
113-1-data-visualization.code-workspace
week4.md
data/a3e3bb521caed0cb4d06e43fb7d5b15a_export.csv
data/Gs - 2024-6-29_menu.csv
Rplot.png
total_people_by_country.csv
R/05-documentation.docx
R/05-documentation.docx
R/05-documentation.qmd
data/附件9-1131經濟學系獎助學金審核表.xlsx
chat/.DS_Store
data/a04001201-2101252804.csv
adjustable_g2_plot.png
data/
private/
md/step 1.md
md/syllabus.html
md/week6-preparation.html
Rplot01.png
Rplots.pdf
USR113-2-subsidy.md
Video Screen1729064508323.webm
chat/導生活動簽到與經費核鎖申請表.pdf
113-1-資料視覺化圖例 - 2024-6-29_UberEats.csv
